body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  display: flex;
  
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  margin: 10px 0 5px;
}

form input, form select, form button {
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#exercise-recommendations {
  display: none;
}

#exerciseList {
  margin-top: 20px;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#progressButton {
  background-color: #ff5722;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#progressButton:hover {
  background-color: #ff3d00;
}
